.para-co {
  font-size: 1.4rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  color: rgb(111, 107, 107);
  line-height: 1.8rem;
  margin-left: 0.8rem;
}
.heading-co {
  margin-left: 0.8rem;
}
.collections-bg-container {
  min-height: 20vh;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .para-co {
    font-size: 1rem;
  }
}
.collections-container {
  width: 70%;
}
@media (max-width: 768px) {
  .collections-container {
    width: 100%;
  }
}
