.dish-order-image {
  height: 8rem;
  width: 8rem;
}
.place-order-container {
  min-height: 60vh;
}
.total-price-container {
  border: 1px solid rgb(187, 184, 184);
  padding: 1rem;
  border-radius: 0.5rem;
}
