.collection-container {
  background-repeat: no-repeat;
  height: 15rem;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@media (max-width: 767px) {
  .collection-container {
    height: 13rem;
    margin-bottom: 0.8rem;
  }
}
.each-collection {
  height: 15rem;
}
.co-sub-heading {
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
