.category-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  transform: none;
  opacity: 1;
  will-change: transform, opacity;
  border-radius: inherit;
  filter: unset;
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}
.category-container {
  border-radius: 50%;
}
@media (max-width: 768px) {
  .category-image {
    height: 3.5rem;
    width: 3.5rem;
  }
}
.category-heading {
  margin-bottom: 2rem;
  margin-left: 10rem;
}
@media (max-width: 768px) {
  .category-heading {
    margin-left: 1rem;
  }
}
