.dish-image {
  height: 12rem;
  width: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
@media (max-width: 768px) {
  .dish-image {
    height: 8rem;
    width: 8rem;
  }
}

/* .about-para {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
.about-para {
  line-height: 1.5;
  color: gray;
}
.quatity-container {
  box-shadow: 0 0 1rem gray;
  padding: 0.8rem;
  width: 6.6rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.dish-title-container {
  width: 90%;
}
.cart-button {
  opacity: 0.8;
}
.add-cart-button {
  width: 7rem;
}
.quatity-para {
  font-size: 1.5rem;
}
.quatity-para:hover {
  cursor: pointer;
}
.single-dish-container:hover {
  box-shadow: 0 0 0.8rem gray;
}
.single-dish-container {
  border: 0.16rem solid rgb(235, 230, 230);
  border-radius: 0.5rem;
  padding-top: 0.5rem;
}
.veg-text-container {
  border: 2px solid #19cc46;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0;
  position: relative;
  bottom: 11.5rem;
  left: 10rem;
  background-color: white;
  border-radius: 0.3rem;
}
.nonveg-text-container {
  border: 2px solid #a60c4f;
}
@media (max-width: 768px) {
  .veg-text-container {
    position: relative;
    bottom: 7.7rem;
    left: 6.2rem;
  }
}
.veg-text {
  font-size: 3rem;
}
