.not-found-image {
  height: 25rem;
  width: 25rem;
}
@media (max-width: 768px) {
  .not-found-image {
    height: 20rem;
    width: 15rem;
    margin: 1rem;
  }
}
.not-found-container {
  width: 70%;
}
