.each-card {
  height: 14rem;
  box-sizing: border-box;
}
.each-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.5s;
}

.card-container {
  border-radius: 1rem;
  margin: 0;
  height: 16rem;
}
.card-text {
  color: gray;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.order-image {
  height: 10rem;

  object-fit: cover;
}
@media (max-width: 767px) {
  .order-image {
    height: 8rem;
  }
}
