.cart-header {
  box-shadow: 0 0 1rem gray;
}
.order-count {
  border: 1px solid white;
  border-radius: 2rem;
  margin: 0.4rem;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  height: 0.5rem;
  width: 1rem;
}
