.title-container {
  width: 70%;
}
.title-details-container {
  line-height: 2;
}
.rate-container {
  width: 3rem;
}
.all-items-container {
  width: 70%;
}
@media (max-width: 768px) {
  .all-items-container {
    width: 90%;
  }
}
.footer-order-items-container {
  position: sticky;
  bottom: 0;
}
.footer-order-container {
  background-color: green;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  color: white;
}
