.header-bg-image {
  background-image: url("/src/images/header-image.jpg");
  background-repeat: no-repeat;
  height: 30rem;
  background-size: cover;
}
.header-container {
  font-family: Okra, Helvetica, sans-serif;
}
.logo {
  height: 60px;
  object-fit: contain;
}
.logo-sm {
  height: 2.4rem;
  width: 50%;
}
.main-heading-container {
  margin-top: 3.5rem;
}
.heading-para {
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  .heading-para {
    font-size: 1.4rem;
  }
}
.header-container {
  min-height: 30vh;
}
