.navbar-container {
  padding: calc(2% - 1rem);
}
.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}
.signup-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 4;
  width: 26rem;
  border-radius: 0.5rem;
}
.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 5;
  width: 26rem;
  border-radius: 0.5rem;
}
.google-logo {
  height: 2rem;
  width: 2.6rem;
}
.terms-anchor {
  color: rgb(210, 76, 76);
}
.label {
  font-size: 0.8rem;
}
.error-msg {
  color: rgb(210, 76, 76);
  font-size: 0.8rem;
}
.login-btn:hover {
  cursor: pointer;
}
