.logo-footer {
  height: 30px;
}

.search-container {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0.5rem rgb(124, 124, 124);
}
.text-input {
  border: none;
  padding: 0.8rem;
  width: 90%;
}
.line {
  border: solid 1px black;
  height: 1.5rem;
}
.online-order-header {
  height: 6.5rem;
}
@media (max-width: 768px) {
  .online-order-header {
    height: 10rem;
  }
}
