.logo-footer {
  height: 30px;
}
.flag {
  height: 20px;
  width: 20px;
}
.footer-container li {
  color: rgb(139, 136, 136);
  bottom: 0;
  line-height: 1.3rem;
}
.rights-para {
  color: rgb(139, 136, 136);
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.footer-content {
  width: 70%;
}
@media (max-width: 768px) {
  .footer-content {
    width: 100%;
  }
  .footer-container li {
    font-size: 0.8rem;
  }
  .footer-container h6 {
    font-size: 0.9rem;
  }
}
.footer-container li:hover {
  color: black;
  cursor: pointer;
}
.social-icon {
  background-color: black;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  padding: 0.16rem;
}
.store {
  width: 8rem;
  margin-bottom: 0.6rem;
}
.footer-container {
  background-color: rgb(237, 233, 233);
  margin-top: 2rem;
}
