.search-container {
  border-radius: 0.5rem;
}
.text-input {
  border: none;
  padding: 0.8rem;
  width: 90%;
}
.line {
  border: solid 1px black;
  height: 1.5rem;
}
.search-bg {
  border-radius: 0.5rem;
}
