p {
  margin: 0;
  padding: 0;
}
.restaurants-image {
  height: 14rem;

  background-size: 100% 14rem;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}
.restaurants-container {
  height: 25rem;
  /* width: 20rem; */
  /* border: solid 2px black; */
  padding: 0.5rem;
  font-family: Okra, Helvetica, sans-serif;
}
.food-category {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(131, 129, 129);
  width: 60%;
}
.title {
  font-family: Okra, Helvetica, sans-serif;
}
.price {
  color: rgb(131, 129, 129);
  align-self: flex-end;
}
.rate-container {
  background-color: rgb(8, 151, 15);
  color: white;
  border-radius: 0.2rem;
  height: 1.8rem;
}
.time-container {
  background-color: white;
  color: black;
  border-radius: 0.2rem;
}
.offer {
  background-color: rgb(6, 120, 212);
}
.arrow-trend {
  background-color: rgb(6, 120, 212);
  border-radius: 1rem;
  height: 1.5rem;
  width: 1.6rem;
  text-align: center;
}
.description-container {
  height: 10rem;
}
.all-restaurants-container {
  width: 70%;
}
.order-count-para {
  color: rgb(131, 129, 129);
}
@media (max-width: 768px) {
  .all-restaurants-container {
    width: 100%;
  }
}
