.each-filter-container {
  border: 1px solid rgb(201, 195, 195);
  border-radius: 0.4rem;
}
.applied-filter-container {
  border: none;
  background-color: rgb(229, 80, 80);
  border-radius: 0.4rem;
  color: white;
}
.filter-text {
  color: rgb(140, 137, 137);
}
.filter-text:hover {
  cursor: pointer;
}

.filter-popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 4;
  border-radius: 0.5rem;
  width: 40rem;
  padding: 1rem;
  min-height: 25rem;
}
.icon:hover {
  cursor: pointer;
}
.all-filters-container {
  border-top: 1px solid rgb(211, 208, 208);
  border-bottom: 1px solid rgb(211, 208, 208);
}

.active-div {
  background-color: white;
  padding: 1.5rem 0 1rem 1rem;
  border-left: 0.3rem solid red;
  height: 5rem;
  display: flex;
  align-items: center;
}
.inactive-div {
  height: 5rem;
  padding: 1.5rem 0 1rem 1rem;
  background-color: rgb(223, 221, 221);
  display: flex;
  align-items: center;
}
datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
  height: 1rem;
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #ee6f63;
}

.rating-slider {
  height: 0.5rem;
  background-color: gray;
  width: 100%;
  display: block;
  position: absolute;
  left: 1rem;
  border-radius: 0.16rem;
  opacity: 1;
  z-index: 1;
}
.rating-slider-container {
  margin-top: 10rem;
}

.rating-track {
  height: 0.5rem;
  background-color: rgb(217, 76, 76);

  display: block;
  position: absolute;
  border-radius: 0.16rem;
  z-index: 2;
}
.track-1 {
  width: 100%;
}
.track-2 {
  width: 75%;
  left: 25%;
}
.track-3 {
  width: 50%;
  left: 50%;
}
.track-4 {
  width: 25%;
  left: 75%;
}
.rating-mark {
  background-color: gray;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  display: block;
  position: absolute;
  border: 4px solid rgb(255, 255, 255);
  transform: translateX(-20%) translateY(-37%);
  z-index: 3;
  cursor: pointer;
}

.rating-mark-active {
  background-color: rgb(217, 76, 76);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  display: block;
  position: absolute;
  border: 4px solid rgb(255, 255, 255);
  transform: translateX(-20%) translateY(-37%);
  z-index: 4;
  cursor: pointer;
}
.large-mark {
  border: none;
}
.mark-1 {
  left: 0%;
}
.mark-2 {
  left: 25%;
}
.mark-3 {
  left: 50%;
}
.mark-4 {
  left: 75%;
}
.mark-5 {
  left: 100%;
}
.rating-label {
  display: block;
  position: absolute;
  font-size: 1rem;
  transform: translateX(0%) translateY(100%);
  z-index: 3;

  color: black;
}
