.payment-container {
  background-color: rgb(210, 210, 219);
  min-height: 80vh;
}
.payment-logo {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}
.each-payment-container {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  width: 20rem;
}
.cards-heading {
  border-left: 0.3rem solid red;
}
.wallet-text {
  color: gray;
}
.paytm-logo {
  height: 0.6rem;
  width: 2rem;
}
.mobikwik-logo {
  height: 1.5rem;
  width: 2rem;
}
.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.confirm-payment-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 2;
  width: 26rem;
  border-radius: 0.5rem;
}
